{% include 'partial/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Book</title>
</head>
<div class="container">
    {% block content %}
        <div class="card" style="padding: 20px; border-radius: 10px">
            <form method="post" action="{% url 'add-new-book' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group-row">
                    <label>Book Image</label>
                    <div class="col-sm-10">

                        <input type="file" name="book_image" required><br>
                    </div>
                </div>
                <div style="height: 10px;"></div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" name="title" class="form-control" id="inputEmail3"
                               placeholder="Your book name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Genre</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="exampleFormControlSelect1" name="genre">
                            <option>Science Fiction</option>
                            <option>Technology</option>
                            <option>Romance</option>
                            <option>Mystery</option>
                            <option>Self Help</option>
                            <option>Fantasy</option>
                            <option>History</option>
                            <option>Biography</option>
                            <option>Thriller</option>
                            <option>Textbook</option>
                            <option>Other</option>
                        </select></div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Number of
                        Pages</label>
                    <div class="col-sm-10">
                        <input type="number" name="number_of_pages" class="form-control" id="inputPassword3" placeholder="Number">
                    </div>

                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Edition</label>
                    <div class="col-sm-10">
                        <input type="text" name="edition" class="form-control" id="inputPassword3" placeholder="Book Edition">
                    </div>

                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Author</label>
                    <div class="col-sm-10">
                        <input type="text" name="author"  class="form-control" id="inputPassword3" placeholder="Book Author">
                    </div>

                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Book Description</label>
                    <div class="col-sm-10">
                        <textarea name="description" rows="10"  class="form-control" id="inputPassword3" placeholder="Give short description about book"></textarea>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

    {% endblock %}

</div>
</html>