{% load static %}
{% include 'partial/base.html' %}
<div class="container mb-5">
    {% block content %}
        {% if book %}
            <div class="card text-center">
                <div class="card-body">

                    <h5 class="card-title">Special title treatment</h5>
                    <img src="{{ book.book_img }}" alt="{{ book.title }}" height="500">
                    <p class="card-text">{{ book.description }}</p>
                    <div class="row">

                        <div class="col-sm-4 text-left"><small class="text-info">Authors:
                            <small class="text-info pb-1">
                                {% if book.authors %}
                                    {{ book.authors.full_name }}
                                    {% for author in book.authors.all %}
                                        {{ author.full_name }} &emsp;
                                    {% endfor %}
                                {% endif %}
                            </small>
                        </small></div>
                        <div class="col-sm-4 text-left"><small class="text-info">Owner: {{ book.user }}</small></div>
                        <div class="col-sm-4 text-left"><small class="text-info">Genre: {{ book.genre }}</small></div>
                        <div class="col-sm-4 text-left"><small class="text-info">Number of
                            pages: {{ book.number_of_pages }}</small></div>
                        <div class="col-sm-4 text-left"><small class="text-info">Status: {{ book.status }}</small></div>
                        <div class="col-sm-4 text-left"><small class="text-info">Edition: {{ book.edition }}</small>
                        </div>
                        <div class="col-sm-4 text-left pt-3">
                            <a href="{% url 'book-detail' book.id %}" class="btn btn-sm btn-outline-success">Request</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            No book found
        {% endif %}
    {% endblock content %}

</div>

