{% load static %}
{% include 'partial/base.html' %}
<div class="container">
    {% block content %}
        {% if books %}
            {% for book in books %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <small class="text-info pb-1"> by {{ book.authors.full_name }}</small>
                                <img src="{{ book.book_img }}" alt="{{ book.title }}" class="img-thumbnail">
                                <p class="card-text">{{ book.description|truncatewords:50 }}</p>
                                <small class="text-info">Owner: {{ book.user }}</small> &emsp;
                                <small class="text-info">Genre: {{ book.genre }}</small> <br>
                                <a href="{% url 'book-detail' book.id %}" class="btn btn-primary mt-3">View Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{ book }}
            {% endfor %}
            {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link disabled" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if i == page_obj.number %}
                                <li class="page-item active">
                                    <a class="page-link"> {{ i }} </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link disabled" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            {% endif %}
        {% else %}
            No books found
        {% endif %}

    {% endblock content %}
</div>