{% load static %}
{% include 'partial/base.html' %}
<div class="container">
    {% block content %}
        <div class="row  mt-2 mb-5">
            <a class="float-right mt-2" href="{% url 'add-new-book' %}">
                <button class="btn-sm btn btn-success"> Add New Book</button>
            </a>
        </div>
        {% if books %}
            <div class="row">
                {% for book in books %}
                    <div class="col-sm-6 mb-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>

                                <img src="{{ book.book_img }}" alt="{{ book.title }}" height="250">
                                <p class="card-text">{{ book.description|truncatewords:50 }}</p>
                                <small class="text-info">Owner: {{ book.user }}</small> &emsp;&emsp;
                                <small class="text-info">Genre: {{ book.genre }}</small>&emsp;
                                <small class="text-info pb-1"> Author:
                                    <small class="text-info pb-1">
                                        {% if book.authors %}
                                            {{ book.authors.full_name }}
                                            {% for author in book.authors.all %}
                                                {{ author.full_name }} &emsp;
                                            {% endfor %}
                                        {% endif %}
                                    </small>
                                </small>
                                <br>
                                <a href="{% url 'book-detail' book.id %}" class="btn btn-sm btn-outline-primary mt-3">View
                                    Detail</a>
                                <a href="{% url 'book-detail' book.id %}" class="btn btn-sm btn-outline-info mt-3">Update</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            {% if is_paginated %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link disabled" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                            {% if i == page_obj.number %}
                                <li class="page-item active">
                                    <a class="page-link"> {{ i }} </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link disabled" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            {% endif %}
        {% else %}
            <div class="row">
                <div class="text-center">
                    <h5 class="text-danger"> No books found ... </h5>
                </div>
            </div>

        {% endif %}

    {% endblock content %}
</div>